.env
/.idea/
.idea/vcs.xml
config_data/__pycache__
database/__pycache__
filters/__pycache__
handlers/__pycache__
handlers/user_handlers/__pycache__
keyboards/__pycache__
lexicon/__pycache__
services/__pycache__
/.venv/
